* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

table, td {
  border: 1px solid grey;
  border-collapse: collapse;
}

table {
    width: 100%;
}

td {
    padding: 0.5rem;
}

.navbar {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.1);
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20%;
    padding: 2rem;
    background-color: white;
    margin: auto;
    margin-top: 2rem;
    border: 1px solid lightgrey;
    box-shadow: 2px 6px 13px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
}

.character-list {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}

.character-card {
    display: grid;
    grid-template-rows: repeat(2, auto);
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid lightgrey;
    box-shadow: 2px 6px 13px rgba(0, 0, 0, 0.2);
}

.character-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: lightgrey;
}

.character-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character-info {
    padding: 1rem;
    background-color: white;
}

.modal-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    width: 60%;
    height: 80%;
    background-color: white;
    display: grid;
    grid-template-rows: 90% 10%;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid grey;
    box-shadow: 2px 6px 13px rgba(0, 0, 0, 0.2);
}

.modal-content {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 2rem;
    overflow: scroll;
}

.modal-table {
    padding: 1rem;
}

.modal-image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border: 1px solid grey;
    box-sizing: border-box;
}

.modal-label {
    width: 30%;
    background-color: lightgrey;
}

.modal-label input {
    width: 90%;
}

.modal-info {
    padding: 1rem;
}

.modal-footer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    border-top: 1px solid grey;
    align-content: center;
    padding: 2rem;
}